body{
color:#ffffff;
text-align:justify;
font-family: 'poppins', sans-serif;
 background-image: repeating-radial-gradient(circle at center center, rgb(14, 14, 14) 0px, rgb(14, 14, 14) 30px,rgb(25, 25, 25) 30px, rgb(25, 25, 25) 70px,rgb(2, 2, 2) 70px, rgb(2, 2, 2) 77px); background-size: 53px 53px;
margin:0;
line-height:1,5;
}

h1{
  text-align:center;
  font-size:80px;
  font-style: bolder;
}

h2{
  max-width:80%;
  margin: auto;
  text-align:center;
  font-size:45px;
  color:#f9e5ff;
  
}

h3{
  font-size: 33px;
 
}

h5{
  text-align:left;
}

.titulo-verde{
  font-style:italic;
  font-size:30px;
  color:#ffd500;
 
}

.titulo-vermelho{
  font-size:30px;
  font-style:italic;
  color:#ff5c5c;
 
}

.titulo-amarelo{
  font-size:30px;
  font-style:italic;
  color:#3884ff;
  
}

section{
  width:60%;
  max-width:100%;
  margin: 0 auto;
}

section section{
  width:100%;
}

.titulo-italico{
  font-style:italic;
}

.imagens{
  width:100%;
}

ul{
  list-style-type:none;
  padding-left:0;
}

a{
  text-decoration:none;
  color:#ff00ea;
  font-weight:700;
  line-height:2;
}

li{
}

p{
  font-size:25px;
  line-height:1,5;
}
.principal{
  background-color: black;
  line-height: 150px;
  max-width:80%;
  margin: 0 auto;
  border:100px black;
  border-radius:50px;
}

.principal a{
  color:#FFF;
  text-decoration: none;
  font-size:30px;
  font-weight: heavy;
  
}
.principal li{
  display:inline-block;
  margin:0 50px;
}

.grafic{
  
}

button{
  background-color:#ffccf4;
  border: 1px none;
  padding:2px 20px;
  border-radius:3px;
}

form{
  margin-bottom: 50px;
}